[Desktop Entry]
Name=CoPrintSlicer
GenericName=3D Printing Software
Icon=CoPrintSlicer
Exec=coprintslicer %U
Terminal=false
Type=Application
<<<<<<<< HEAD:src/dev-utils/platform/unix/CoPrintSlicer.desktop
MimeType=model/stl;model/3mf;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;x-scheme-handler/coprintslicer;
========
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
MimeType=model/stl;model/3mf;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;x-scheme-handler/orcaslicer;model/step;
>>>>>>>> orca-v2.4.2:src/dev-utils/platform/unix/com.orcaslicer.OrcaSlicer.desktop
Categories=Graphics;3DGraphics;Engineering;
Keywords=3D;Printing;Slicer;slice;3D;printer;convert;gcode;stl;obj;amf;SLA
StartupNotify=false
StartupWMClass=coprintslicer
